/* 
Background Color: #9eb600
Player Div background color: #bce000
Xs color: #cc06c4
Os color & reset board buttons: #0062b3, white font
gameboard borders color & submit/new game buttons: #043f88, white font
*/
@import url('https://fonts.googleapis.com/css2?family=Monomaniac+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
  height: 100vh;
  background-color: #9eb600;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: 1fr 4fr 1fr;
  font-family: 'Oswald', sans-serif;
}

header {
  justify-self: center;
  align-self: center;
  font-family: 'Monomaniac One', sans-serif;
  font-size: 2rem;
}

footer {
  justify-self: center;
  align-self: end;
  padding-bottom: 10px;
}

main {
  position: relative;
}

label {
  font-size: 1.5rem;
  padding-right: 5px;
  white-space: nowrap;
}

input {
  height: 1.25rem;
  font-size: 1.25rem;
}

p {
  font-size: 1rem;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 75%;
  width: 75%;
}

.players {
  visibility: hidden;
  background-color: #bce000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 3rem 6rem;
}

.players > div {
  margin-bottom: 20px;
}

.players > button,
.game #newGame,
.game #resetBoard {
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1.5rem;
  padding: 1rem 2rem;
}

.players > button,
.game #newGame {
  background-color: #043f88;
}

.game {
  visibility: visible;
  display: grid;
  grid-template-rows: 1fr 3fr 1fr 1fr;
}

.game #resetBoard {
  background-color: #0062b3;
}

.gameButtons,
.board,
.winner,
.turn {
  place-self: center;
}

.turn, .winner {
    font-size: 1.5rem;
}
