/* 
Background Color: #9eb600
Player Div background color: #bce000
Xs color: #cc06c4
Os color & reset board buttons: #0062b3, white font
gameboard borders color & submit/new game buttons: #043f88, white font
*/
@import url('https://fonts.googleapis.com/css2?family=Monomaniac+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
  height: 100vh;
  background-color: #9eb600;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: 1fr 4fr 2rem;
  font-family: 'Oswald', sans-serif;
}

header {
  justify-self: center;
  align-self: center;
  font-family: 'Monomaniac One', sans-serif;
  font-size: 2rem;
}

footer {
  justify-self: center;
  align-self: end;
  padding-bottom: 10px;
}

main {
  position: relative;
}

label {
  font-size: 1.5rem;
  padding-right: 5px;
  white-space: nowrap;
}

input {
  height: 1.25rem;
  font-size: 1.25rem;
}

p {
  font-size: 1rem;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 350px;
  width: 350px;
}

.players {
  visibility: visible;
  background-color: #bce000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 3rem 6rem;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.player1 {
  grid-column: 1 / span 3;
  border-bottom: 2px solid #043f88;
}

.player2 {
  grid-column: 1;
  grid-row: 2;
}

#or {
  grid-column: 2;
  grid-row: 2;
  place-self: center;
  font-size: 1.5rem;
  padding: 0 1rem;
}

#submitNames {
  margin-top: 1rem;
}

#againstComputer {
  grid-column: 3;
  grid-row: 2;
  place-self: center;
}

.players > div {
  margin-bottom: 20px;
}

#submitNames,
.game #newGame,
.game #resetBoard,
#againstComputer {
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1.5rem;
  padding: 1rem 2rem;
}

#submitNames,
.game #newGame,
#againstComputer {
  background-color: #043f88;
}

.game {
  visibility: hidden;
  display: grid;
  grid-template-rows: 2rem 3fr 2rem 1fr;
}

.game #resetBoard {
  background-color: #0062b3;
}

.turn {
  padding-bottom: 20px;
}

.winner {
  padding-top: 20px;
}

.gameButtons,
.board,
.winner,
.turn {
  place-self: center;
}

.turn,
.winner {
  font-size: 1.5rem;
}

.cell {
  background-color: transparent;
  border: none;
  font-size: 3rem;
}

.playerOne {
  color: #cc06c4;
}

.playerTwo {
  color: #0062b3;
}

button[data-row='0'],
button[data-row='1'] {
  border-bottom: 2px solid #043f88;
}

button[data-column='0'],
button[data-column='1'] {
  border-right: 2px solid #043f88;
}
