body {
    height: 100vh;
    border: 1px solid red;
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 75%;
  width: 75%;
}

.players {
  visibility: visible;
}

.game {
  visibility: hidden;
}
